<section id="about">
    <div class="about-container">
        <div class="about-text">
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, porro!</p>
        </div>
        <div class="about-row">
            <div class="about-col">
                <img src="../../../assets/images/about-us-img.png" alt="">
            </div>
            <div class="about-col about-right-col">
                <h3>LET'S <br> INTRODUCE ABOUT MYSELF</h3>
                <h5 class="about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
                    veniam id. Harum
                    impedit
                    beatae distinctio!</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus commodi eveniet
                    reprehenderit itaque voluptate exercitationem natus at impedit inventore explicabo.
                </p>
                <div class="card">
                    <div class="card-col">
                        <h5>8 Years</h5>
                        <p>Experince</p>
                    </div>
                    <div class="card-col">
                        <h5>600+</h5>
                        <p>Project</p>
                    </div>
                    <div class="card-col">
                        <h5>Worked On</h5>
                        <p>4+ Companies</p>
                    </div>
                </div>
                <a href="" class="download-resume">Download Resume <i class="fa fa-download"></i></a>
            </div>
        </div>
    </div>
</section>